name: Build

on: [push, pull_request]

jobs:

  Ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build Ubuntu
        run: |
          ./configure --with-fastfloat
          make 
          make check

  Ubuntu-18-04:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Build Ubuntu
        run: |
          ./configure --with-fastfloat
          make 
          make check
          
  MacOS:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build MacOS
        run: |
          ./configure --with-fastfloat
          make 
          make check        
    
  Windows-64:
    runs-on: windows-latest
    
    steps:
      - uses: ilammy/msvc-dev-cmd@v1
      - name: Build Windows 64 bit        
        working-directory: ./Projects
        run: devenv VC2019\lcms2.sln /Rebuild "Release|x64" /Project testbed  
        shell: cmd
        
      - name: Run tests                
        working-directory: ./testbed        
        run: testbed                 

  Windows-32:
    runs-on: windows-latest    
    steps:
      - uses: ilammy/msvc-dev-cmd@v1      
      - name: Build Windows 32 bit   
        working-directory: ./Projects      
        run: devenv VC2019\lcms2.sln /Rebuild "Release|Win32" /Project testbed  
        shell: cmd
        
      - name: Run tests        
        working-directory: ./testbed   
        run: testbed         
        
        
  Ubuntu-meson:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install packages
        run: |
          sudo apt-get -y install build-essential python3-pip ninja-build
          pip install meson==0.59.2

      - name: Build Ubuntu
        run: |
          meson setup build
          meson compile -C build
          meson test -C build

  VisualStudio-meson:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install packages
        run: |
          pip install meson==0.59.2

      - uses: ilammy/msvc-dev-cmd@v1
      - name: Build Windows
        run: |
          meson setup build
          meson compile -C build
          meson test -C build
