name: Build

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.job }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:

  Ubuntu:
    strategy:
      matrix:
        runner: [ ubuntu-latest ]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Build Ubuntu
        run: |
          ./configure --with-fastfloat --with-threaded
          make 
          make check

  macOS:
    strategy:
      matrix:
        runner: [ macos-14, macos-latest ]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Build macOS
        run: |
          ./configure --with-fastfloat --with-threaded
          make 
          make check        
    
  Windows:
    strategy:
      matrix:
        include:
          - arch: win32
            runner: windows-latest
          - arch: x64
            runner: windows-latest
          # - arch: arm64
          #   runner: windows-11-arm  

    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.1
      
      - name: Setup MSVC Build Environment
        uses: ilammy/msvc-dev-cmd@v1   
        with:
          arch: ${{ matrix.arch }}

      - name: Build Windows
        run: devenv .\Projects\VC2019\lcms2.sln /Rebuild "Release|${{ matrix.arch }}" /Project testbed  

      - name: Run tests               
        run: testbed\testbed.exe --chdir testbed

  Ubuntu-meson:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Install packages
        run: |
          sudo apt-get -y install build-essential python3-pip ninja-build
          pip install meson==0.52.0

      - name: Build Ubuntu
        run: |
          meson setup build -Dfastfloat=true -Dthreaded=true
          cd build
          ninja
          meson test

  VisualStudio-meson:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Install packages
        run: |
          pip install meson==0.52.0

      - uses: ilammy/msvc-dev-cmd@v1
      - name: Build Windows
        run: |
          meson setup build
          cd build
          ninja
          meson test

